<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Business, ​We&amp;apos;re ready to share our advice and experience, ​Branding Agency, ​​Corporate Employee Training &amp;amp; Development Programs, Meet The Team
Our Professionals, ​Submit Your Resume">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Education</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Education.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.10.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
{		
		"name": ""
}</script>
    <meta name="theme-color" content="#0151df">
    <meta property="og:title" content="Education">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-xl-mode">
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_fcc2" data-image-width="1618" data-image-height="1080">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
            <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-1">
                <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 140" style=""><use xlink:href="#svg-8ecf"></use></svg>
                <svg class="u-svg-content" viewBox="0 0 160 140" x="0px" y="0px" id="svg-8ecf"><path d="M80,60.5l28.3,49.5H51.7L80,60.5 M80,0L0,140h160L80,0L80,0z"></path></svg>
            </div>
            <h2 class="u-custom-font u-font-montserrat u-text u-text-1">Education</h2>
            <p class="u-heading-font u-text u-text-2">
                Our main rule: <br>Teaching is light, ignorance is darkness.
            </p>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="carousel_9c15">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-left u-container-style u-group u-shape-rectangle u-group-1" data-animation-name="customAnimationIn" data-animation-duration="2000">
                <div class="u-container-layout">
                    <h2 class="u-custom-font u-font-montserrat u-text u-text-1">
                        We are ready to train students in various fields.<br>
                    </h2>
                    <p class="u-text u-text-2">
                        With us you will learn how to plan a project:<br>
                    </p>
                </div>
            </div>
            <div class="u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <span class="u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-1"><img src="images/11.png" alt=""></span>
                            <h5 class="u-custom-font u-font-montserrat u-text u-text-3"> Investment</h5>
                            <p class="u-text u-text-4"> Investments are not a little important moment in the creation of projects. Without proper investment, the project may be doomed at the planning stage..</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <span class="u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-2"><img src="images/12.png" alt=""></span>
                            <h5 class="u-custom-font u-font-montserrat u-text u-text-5"> Financial planning</h5>
                            <p class="u-text u-text-6">
                                Financial planning is required to allocate funds between the criteria that are required for the implementation of the project.<br>
                            </p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <span class="u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-3"><img src="images/13.png" alt=""></span>
                            <h5 class="u-custom-font u-font-montserrat u-text u-text-7"> Debt help</h5>
                            <p class="u-text u-text-8">
                                In case of lack of funds, Debt help is used. But it's sometimes risky.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-3" id="carousel_7095">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-layout-cell u-palette-5-dark-3 u-size-60 u-layout-cell-1">
                                <div class="u-container-layout u-container-layout-1">
                                    <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-1">
                                        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 140" style=""><use xlink:href="#svg-e11a"></use></svg>
                                        <svg class="u-svg-content" viewBox="0 0 160 140" x="0px" y="0px" id="svg-e11a"><path d="M80,60.5l28.3,49.5H51.7L80,60.5 M80,0L0,140h160L80,0L80,0z"></path></svg>
                                    </div>
                                    <h2 class="u-custom-font u-font-montserrat u-text u-text-1">
                                        Corporate training and student development programs<br>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30">
                        <div class="u-layout-col">
                            <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1280" data-image-height="963">
                                <div class="u-container-layout u-container-layout-2"></div>
                            </div>
                            <div class="u-align-center u-container-style u-grey-5 u-layout-cell u-size-30 u-layout-cell-3">
                                <div class="u-container-layout u-container-layout-3">
                                    <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-2"> Effective Trainings</h4>
                                    <p class="u-heading-font u-text u-text-3">
                                        These trainings are aimed at the development of students. Since such trainings are very popular in various companies, it is worth getting used to and learning how to show yourself there.<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-left u-clearfix u-section-4" id="carousel_44d3">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-custom-font u-font-montserrat u-text u-text-1">
                Meet The Team <br>Our Professionals
            </h2>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-custom-item u-list-item u-repeater-item u-white u-list-item-1">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <div class="u-image u-image-circle u-preserve-proportions u-image-1" alt="" data-image-width="206" data-image-height="206"></div>
                            <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-2">Alex Greenfield</h3>
                            <p class="u-custom-item u-text u-text-3">
                                Programmer - engineer who worked in such popular companies as Google, Amazon, Ipsum.<br>
                                <br>
                            </p>
                            <p class="u-text u-text-default u-text-4"> Creative Leader</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="2000">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <div class="u-image u-image-circle u-preserve-proportions u-image-2" alt="" data-image-width="206" data-image-height="206"></div>
                            <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-5">May Brown</h3>
                            <p class="u-custom-item u-text u-text-body-alt-color u-text-6">
                                Software marketer currently working for Tesla Motors.<br>
                                <br>
                            </p>
                            <p class="u-text u-text-default u-text-7">Software marketer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-9640">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">All information on the site is patented. Copying is subject to the law.</p>
        </div>
    </footer>
</body>
</html>